.search {
    width: 20rem;
    height: 3rem;
    input {
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        border: 1px solid #e091b5;
        border-radius: 5px;
        outline: none;
    }
}
