header {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
